In [2]:
import os
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [5]:
dfraw = pd.read_csv("dados_bancarios.csv", sep=";", index_col=0)
df = dfraw.copy()
df.head()

,Sexo,Idade,Empresa,Salario.decl,Saldo.cc,Saldo.poup,Saldo.1ano,Saldo.2anos,Tempo.relac,Limite.cartao,Dev.cartao,Inadimplente
Cliente,,,,,,,,,,,,
1,0,22,1,1000,"72,5",0,"54,73","130,02",80,2000,0,1
2,0,40,1,500,"130,06","371,12","138,71","254,29",80,1000,0,0
3,0,39,2,2500,"156,14",0,"190,39","384,94",80,5000,0,0
4,0,36,1,2500,"112,02",0,"115,04","264,67",80,5000,0,0
5,0,28,1,500,"69,07","152,83","47,43","163,78",80,1000,1059,1